.fondo{
    opacity:0.8;
    background-color: #007bff;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    text-align: center;
}

h2{
    margin-top: 20%;
    color: #fff;
}