<div class="fondo">
    <h2>Bienvenid@
        a
        Tu Acuerdo.com <br>
        Está es una AppWeb exclusiva para realizar negociaciones de cobranzas.
        La unica forma de ingreso es: Si se le envio un usuario y password encriptado. +</h2>
</div>