
	<!--Inicio Portada-->
	<div class="portada" id="portada" style="display: block;">
		<button class="portIngresarBtn" (click)="mostrarOcultar('portada','fondo')">Inicio</button>
	</div>
	<!--Fin Portada-->
	
	<div class="fondo" id="fondo">
	<!--Inicio Validar Usuario -->
		<div class="contentValidar" id="validar" style="display: block;">
			<br><br>
			<h1><strong>BIENVENIDO(A) {{nomLog}}</strong></h1>
			<h3 style="text-align: center; padding: 2%;">Tenemos una información importante para usted referente a sus productos con Fundación delamujer por favor ingrese los últimos 4 dígitos de su número de identificación.</h3>
				<div style="margin-left: 15%; margin-right: 15%; margin-top: 3%">
							<label for="documentoUsu" style="font-size: 25px">N° Documento</label>
				<input type="text" [(ngModel)]="docu"  name="documentoUsu" class="form-control" required autofocus placeholder=******{{docuMostrar}}>
				</div>
			<br>
				<button class="btn-entrar-salir" *ngIf="docu != null" (click)="interaClick('10211','btn1');validar()">Ingresar</button>
		</div>
	<!--Fin Validar Usuario -->

	<!--Inicio página Inicio -->
	<div class="contenedor" id="inicio" style="display: none;">
		<div class="titulo1">
			<br><br>
			<h1><strong>Póngase al día</strong> sin salir de casa</h1>
		</div>
		<div class="divUsu">
			<h3 style="text-align: left; color: #999999;">Estimado(a)</h3>
			<h1 style="color: #872174; text-align: left;"><strong>{{nomLog}}</strong></h1>
			<br>
			<h3>Para acceder a está alternativa, usted debe seguir o finalizar los siguientes pasos:</h3>
			<br><br>
			<div style="float: left; width: 33%; ">
				<button class="btn-iconos"><i class="fas fa-clipboard-list"></i></button>
				<h3 style="margin-top: 3%; text-align: center;">Aceptar la oferta</h3>
			</div>
			<div style="float: left; width: 33%; ">
				<button class="btn-iconos"><i class="far fa-calendar-check"></i></button>
				<h3 style="margin-top: 3%; text-align: center;">Inidicar fecha de compromiso</h3>
			</div>
			<div style="float: left; width: 33%; ">
				<button class="btn-iconos"><i class="fas fa-wallet"></i></button>
				<h3 style="margin-top: 3%; text-align: center;">Seleccionar medio de pago</h3>
			</div>		
		</div>
		<div class="divTextRealizPago">
			<h3>Si el pago no se realiza dentro de la fecha establecida, se podrá comunicar vía WhatsApp con nuestro Chat Bot <strong> 3157675869 </strong> o a la línea <strong> 3503160051 </strong>  para gestionar su respectiva programación.</h3>
			<br>
			<h3 style="text-align: center; margin-top: 3%;">¿Desea conocer las alternativas?</h3>
		</div>
		<div style="margin-left: 10%; margin-right: 7%; margin-top: 3%">
			<button class="btn-si" (click)="interaClick('10211','btn2'); mostrarOcultar('inicio','estadoCuenta')" >Si</button>
			<button class="btn-no" (click)="interaClick('10211','btn3'); mostrarOcultar('inicio','motivoNoPago')">No</button>
		</div>
		<br>
	</div>
	<!--Fin página Inicio -->
	
<!--Inicio página motivo no pago -->
<div class="contenedor" id="motivoNoPago" style="display: none;">
	<div class="titulo2">
		<br><br>
		<h1 class="txtMotNoPag">Cuéntenos el motivo de su no pago</h1>
	</div>
		<h1 class="txtSelecOpcion"><strong>Seleccione</strong> la opción correspondiente</h1>
	<form action="">
		<div class="bloque1">
			<div class="bloque1-1">
				<div class="radio-item" style="margin-top: 5%;">
					<input type="radio" id="noCPC" name="resp" value="No le han cancelado cuentas por cobrar" [(ngModel)]="motivNoPag">
					<label for="noCPC"><h4 class="txtRadioButton" >No le han cancelado cuentas por cobrar</h4></label>
				</div>
				<br>
				<div class="radio-item">
					<input type="radio" id="calDom" name="resp" value="Calamidad doméstica" [(ngModel)]="motivNoPag">
					<label for="calDom"><h4 class="txtRadioButton">Calamidad doméstica</h4></label>
				</div>
				<br><br>
				<div class="radio-item">
					<input type="radio" id="conFam" name="resp" value="Conflictos familiares" [(ngModel)]="motivNoPag">
					<label for="conFam"><h4 class="txtRadioButton" >Conflictos familiares</h4></label>
				</div>
				<br><br>
				<div class="radio-item">
					<input type="radio" id="decNeg" name="resp" value="Decadencia del negocio" [(ngModel)]="motivNoPag">
					<label for="decNeg"><h4 class="txtRadioButton" >Decadencia del negocio</h4></label>
				</div>
				<br>
				<div class="radio-item">
					<input type="radio" id="dinOtPer" name="resp" value="Dinero para otra persona" [(ngModel)]="motivNoPag">
					<label for="dinOtPer"><h4 class="txtRadioButton" >Dinero para otra persona</h4></label>
				</div>
				<br>
				<div class="radio-item">
					<input type="radio" id="enfTitu" name="resp" value="Enfermedad del titular" [(ngModel)]="motivNoPag">
					<label for="enfTitu"><h4 class="txtRadioButton" >Enfermedad del titular</h4></label>
				</div>
			</div>
		</div>
		<div class="bloque2">
			<div class="bloque1-1">
				<div class="radio-item">
					<input type="radio" id="frau" name="resp" value="Fraude"[(ngModel)]="motivNoPag">
					<label for="frau"><h4 class="txtRadioButton">Fraude</h4></label>
				</div>
				<br><br>
				<div class="radio-item" style="margin-top: -1%;">
					<input type="radio" id="fallMetCred" name="resp" value="Fallas en la metodología crediticia" [(ngModel)]="motivNoPag">
					<label for="fallMetCred"><h4 class="txtRadioButton">Fallas en la metodología crediticia</h4></label>
				</div>
				<br>
				<div class="radio-item">
					<input type="radio" id="pagOtrIng" name="resp" value="Paga con otros ingresos" [(ngModel)]="motivNoPag">
					<label for="pagOtrIng"><h4 class="txtRadioButton">Paga con otros ingresos</h4></label>
				</div>
				<br><br>
				<div class="radio-item">
					<input type="radio" id="sobrEnd" name="resp" value="Sobreendeudamiento" [(ngModel)]="motivNoPag">
					<label for="sobrEnd"><h4 class="txtRadioButton">Sobreendeudamiento</h4></label>
				</div>
				<br><br>
				<div class="radio-item">
					<input type="radio" id="cliNoNeg" name="resp" value="Cliente no tiene negocio" [(ngModel)]="motivNoPag">
					<label for="cliNoNeg"><h4 class="txtRadioButton">Cliente no tiene negocio</h4></label>
				</div>
				<br>
				<div class="radio-item">
					<input type="radio" id="faltVoluPag" name="resp" value="Falta de voluntad de pago" [(ngModel)]="motivNoPag" >
					<label for="faltVoluPag"><h4 class="txtRadioButton">Falta de voluntad de pago</h4></label>
				</div>
			</div>
		</div>
	</form>
	<p>.</p>
	<button class="btn-entrar-salir" [hidden]="motivNoPag == '0'" (click)="envMotNoPag()">Continuar</button>
</div>	
<!--Fin página motivo no pago-->
<!--Inicio página ver Oferta-->
<div class="contenedor" id="verOferta" style="display: none;">
	<div class="titulo2">
		<br><br>
		<h1 class="txtMotNoPag">Motivo de no pago en gestión</h1>
	</div>
	<br>
	<div class="divUsu">
		<h3 style="text-align: left; color: #999999;">Estimado(a)</h3>
		<h1 style="color: #872174; text-align: left;"><strong>{{nomLog}}</strong></h1>
		<br>
		<h3>Usted tiene un motivo de no pago, el cuál se encuentra en proceso de análisis por nuestro equipo, pronto estaremos en contacto</h3>
	</div>
	<button class="btn-entrar-salir" (click)="interaClick('10211','btn4');mostrarOcultar('verOferta','estadoCuenta')">Ver oferta</button>
</div>
<!--Fin página ver Oferta-->
<!--Inicio página Estado Cuenta-->
<div class="contenedor" id="estadoCuenta" style="display: none;">
	<div class="divUsu">
		<br><br>
		<h3 style="text-align: left; color: #999999;">Estimado(a)</h3>
		<h1 style="color: #872174; text-align: left;"><strong>{{nomLog}}</strong></h1>
		
		<div class="tituloTabla"><h1 class="txtEstCuenta">Estado de cuenta</h1></div>
		<table>
		  <tr>
			<th>Fundacrédito</th>
			<td>{{fundaCredito}}</td>
		  </tr>
		  <tr>
			<th>Valor total en mora</th>
			<td>${{valorTotalMora}}</td>
		  </tr>
		  <tr>
			<th>Días en mora</th>
			<td>{{diasMora}}</td>
		  </tr>
		  <tr>
			<th>Valor a pagar</th>
			<td>${{pagoTotal}}</td>
		  </tr>
		</table>
		<h1 class="txtSelecProcPag"><strong>Seleccione</strong> proceso de pago</h1>
		<div class="div1nBoton" id= "divUnBoton" style="display: none;">
			<div class="divBtnPagContMedio" >
				<button class="btn-iconos-estado-cuenta-pag-cont" ><i class="fas fa-hand-holding-usd" (click)="interaClick('10211','btn4'); mostrarOcultar('estadoCuenta','pagoContado')"></i></button>
				<h1 class="txtDivBtnPagCont">Pago de contado</h1>
			</div>
		</div>
		<div class="div2Botones" id= "divdosBotones" style="display: none;">
			<div class="divBtnPagCont">
				<button class="btn-iconos-estado-cuenta" ><i class="fas fa-hand-holding-usd" (click)="interaClick('10211','btn5');mostrarOcultar('estadoCuenta','pagoContado')"></i></button>
				<h1 class="txtDivBtnPagCont">Pago de contado</h1>
			</div>
			<div class="divBtnPagCont" >
				<button class="btn-iconos-estado-cuenta" (click)="interaClick('10211','btn6');mostrarOcultar('estadoCuenta','pagoCuotas')"><i class="far fa-calendar-alt"></i></button>
				<h1 class="txtDivBtnPagCont">Pago a cuotas</h1>
			</div>
		</div>
	</div>
	<br>
	<div class="divBtnsRegNoInter" *ngIf="canOfertas != 1 && flag1 != 1" >
		<button class="btn-si" (click)="interaClick('10211','btn7');verFundacred()">Ver fundacréditos</button>
		<button class="btn-no" (click)="interaClick('10211','btn8');">No me interesa</button>
	</div>
	<div class="divBtnsRegNoInter" *ngIf="canOfertas == 1 && flag1 != 1">
		<button class="btn-no" style="margin-left: 0%; margin-top: 3%;" (click)="interaClick('10211','btn8');">No me interesa</button>
	</div>
	<div class="divBtnsRegNoInter" *ngIf="flag1 == 1" >
		<button class="btn-si" (click)="mostrarOcultar('estadoCuenta','indiviFund')" >regresar</button>
		<button class="btn-no" (click)="interaClick('10211','btn8');">No me interesa</button>
	</div>
	<br>
</div>
<!--Fin página Estado Cuenta-->
<!--Inicio página Pago Contado-->
<div class="contenedor" id="pagoContado" style="display: none;">
	<div class="divUsu">
			<br>
			<div class="tituloTabla"><h1 class="txtEstCuenta">Estado de cuenta</h1></div>
			<table>
				<tr>
					<th>Fundacrédito</th>
					<td>{{fundaCredito}}</td>
				  </tr>
				  <tr>
					<th>Valor total en mora</th>
					<td>${{valorTotalMora}}</td>
				  </tr>
			</table>
			<br><br><br>	
			<div class="divUsuPagoCont">
			<div class="divSelctFecha">
				<h3 style="text-align: left;"><strong>Seleccione una fecha</strong> para el pago de contado</h3>
			</div>
			<div class="divSelctFechaCalendar">
				<button class="btn-iconos-estado-cuenta" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen"  style="float: left; margin-top: 0%;"><i class="far fa-calendar-alt"></i></button>
			</div>
			</div>
			<input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [(bsValue)]="myDateValueI" [daysDisabled] = "[0]" [minDate] = "minDate" [maxDate] = "maxDate"  (bsValueChange)="onValueChange($event)" style="visibility: hidden;" >
			<div class="tituloTabla" style="margin-top: 5%;"><h1 class="txtEstCuenta"></h1></div>
			<table>
			  <tr>
				<th>Fecha pago total</th>
				<th>Valor descuento</th>
				<th>Valor pago total</th>
			  </tr>
			  <tr>
				<td id="fechaT">{{FechaMoment}}</td>
				<td id="valDesc">${{descuento}}</td>
				<td id="valPagTot">${{pagoTotal}}</td>
			  </tr>
			</table>
		</div>
		<br>
		<div class="divRegreConfirPagCont">
			<button class="btn-si"  (click)="interaClick('10211','btn9');mostrarOcultar('pagoContado','estadoCuenta')">Regresar</button>
			<button class="btn-no" *ngIf="FechaMoment != undefined"  (click)="interaClick('10211','btn10');mostrarOcultar('pagoContado','terminosCondiciones')">Confirmar</button>
		</div>
		<br>
</div>
<!--Fin página Pago Contado-->
	<!--Inicio página Pago Cuotas-->
	<div class="contenedor" id="pagoCuotas" style="display: none;">
		<div class="divUsu">
			<br><br>
			<div class="tituloTabla"><h1 class="txtEstCuenta">Estado de cuenta</h1></div>
			<table>
				<tr>
				  <th>Fundacrédito</th>
				  <td>{{fundaCredito}}</td>
				</tr>
				<tr>
				  <th>Valor total en mora</th>
				  <td>${{valorTotalMora}}</td>
				</tr>
			</table>
			<br><br><br>
			<div class="divContSelectCantFecha" style="display: block;">
				<div style="float: left; width: 100%;">
					<div class="divCantiCuotas">
						<h1 class="txtSelectCanCuot"><strong>Seleccione cantidad</strong><br> de cuotas</h1>
					</div>
					<div class="divSCuotas">
						<select name="sCuotas" id="sCuotas" [(ngModel)]="cantCuotas" class="sCuotas" (click)="operaCuotas()" valu= "">
							<option></option>
						 	<option value="1">1</option>
						 	<option value="2">2</option>
						 	<option value="3">3</option>
						 	<option value="4">4</option>
						 	<option value="5">5</option>
						 	<option value="6">6</option>
						 	<option value="7">7</option>
						 	<option value="8">8</option>
						 	<option value="9">9</option>
						 	<option value="10">10</option>
						 	<option value="11">11</option>
						 	<option value="12">12</option>
						</select>
					</div>
					<div *ngIf="cantCuotas != undefined">
					<div class="divTxtSelectCanCuot">
						<h1 class="txtSelectCanCuot"><strong>Seleccione una fecha</strong><br> para el pago de contado</h1>
					</div>
					<div>
						<div class="divBtnCalendarPagoCuotas">
							<button class="btn-iconos-pago-cuotas" (click)="dp2.toggle()" [attr.aria-expanded]="dp.isOpen"><i class="far fa-calendar-alt"></i></button>
						</div>
					</div>
					</div>
					<input type="text" class="form-control"  style="width: 100%;" #dp2="bsDatepicker" bsDatepicker [(bsValue)]="myDateValueCuo" [daysDisabled] = "[0]" [minDate] = "minDate" [maxDate] = "maxDate" (bsValueChange)="onValueChange2($event)" style="visibility: hidden;">
				</div>
			</div>
			<br><br><br>
			<div class="tituloTabla"></div>
			<table>
			  <tr>
			    <th>Cuotas</th>
			    <th>Fecha de pago</th>
			    <th>Valor cuota aprox</th>
			  </tr>
			  <tr>
			    <td id="cuotas">{{cantCuotas}}</td>
			    <td id="fechaP">{{FechaMoment2}}</td>
			    <td id="valCuota">${{valCuotAproxMostrar}}</td>
			  </tr>
			</table>
			
		</div>
		<br>
		<div class="divRegreConfirPagCont" >
			<button class="btn-si"  (click)="interaClick('10211','btn11');mostrarOcultar('pagoCuotas','estadoCuenta')">Regresar</button>
			<button *ngIf="valCuotAprox != undefined && FechaMoment2 != undefined" class="btn-no"  (click)="interaClick('10211','btn12');mostrarOcultar('pagoCuotas','terminosCondiciones')">Confirmar</button>
		</div>
		<br>
	</div>
	<!--Fin página Pago Cuotas-->
	<!--Inicio Terminos y condiciones-->
	<div class="contenedor" id="terminosCondiciones" style="display: none;">
		<div class="divUsu">
				<br><br>
				<h3 style="text-align: left; color: #999999;">Estimado(a)</h3>
				<h1 style="color: #872174; text-align: left;"><strong>{{nomLog}}</strong></h1>
				<br>
				<div class="titulo1">
					<h1>Términos y condiciones</h1>
				</div>
			<br>
			<div class="divTermCond">
				<h3 class="txtTermCond">Apreciado cliente para acceder a esta alternativa, usted debío seguir los
					siguientes pasos.</h3><br>
				<h3 class="txtTermCond"><strong>1.</strong> Aceptar la oferta.</h3>
				<h3 class="txtTermCond"><strong>2.</strong> Indicar fecha de compromiso.</h3>
				<h3 class="txtTermCond"><strong>3.</strong> Seleccionar medio de pago</h3>
				<h3 class="txtTermCond"><strong>4.</strong> Adjuntar el soporte de pago</h3>
				<h3 class="txtTermCond"><strong>5.</strong> Si usted presenta más de un producto y genera compromiso por alguno, los demás créditos continuarán en mora y en gestión de cobranza</h3>
				<h3 class="txtTermCond"><strong>6.</strong> Seleccionar medio de pago</h3>
				<h3 class="txtTermCond"><p  style="color: #872174"><strong>Nota:</strong> si el pago no se realiza dentro de la fecha establecida este se aplicará
				a su obligación en mora, en caso de presentar algún inconveniente
				escribanos a nuestro Chat Bot <strong>3157675869</strong> o comuníquese a la línea
				<strong>3503160051</strong> para gestionar su respectiva programación</h3>
			</div>
			<div style="margin-left: 10%; margin-right: 7%; margin-top: 4%">
				<button class="btn-si"  (click)="interaClick('10211','btn13');mostrarOcultar('terminosCondiciones','estadoCuenta')">Regresar</button>
				<button class="btn-no"  id="btnModal" (click)="interaClick('10211','btn14');">Aceptar</button>
			</div>
			<br><br>
		</div>
	</div>
	<br><br>
	<!--MODAL-->
		<div id="tvesModal" class="modalContainer">
		<div class="modal-content">
			<h1 class="txtTituloTabla"><strong>Seleccione</strong> su medio de pago</h1>
			<span style="float: right;" class="close"></span>
			<br>
			
			<br>
			<div class="bloque1">
				<div class="bloque1-1" >
					<h1 style="text-align: left; margin-left: 3%; color: #872174 ">Pagos <strong>en línea</strong></h1>
					<div class="radio-item" style="margin-top: 5%;">
						<input type="radio" id="pse" name="resp" value="" (click)="medioPago('1')">
						<label for="pse"><h4 class="txtRadioButton">PSE</h4></label>
					</div>
					<br><br>
					<div class="radio-item">
						<input type="radio" id="appFunMuj" name="resp" value="2" (click)="medioPago('2')">
						<label for="appFunMuj"><h4 class="txtRadioButton">App Fundación delamujer</h4></label>
					</div>
					<br><br><br>
					<h1 style="text-align: left; margin-left: 3%; color: #872174 "><strong>Presencial</strong></h1>
					<div class="radio-item">
						<input type="radio" id="ofMorFunMu" name="resp" value="" (click)="medioPago('3')">
						<label for="ofMorFunMu"><h4 class="txtRadioButton">Oficina morada Fundación delamujer</h4></label>
					</div>
					<br>
					<div class="radio-item">
						<input type="radio" id="efecty" name="resp" value="2" (click)="medioPago('4')">
						<label for="efecty"><h4 class="txtRadioButton">Efecty</h4></label>
					</div>
					<br><br>
					<div class="radio-item">
						<input type="radio" id="baloto" name="resp" value="2" (click)="medioPago('5')">
						<label for="baloto"><h4 class="txtRadioButton">Baloto</h4></label>
					</div>
				</div>
			</div>
			<button class="btn-entrar-salir" (click)="cerrarModal()">Regresar</button>
		</div>
	</div>
	<!--Fin Terminos y condiciones-->
		<!--Inicio Acuerdos Realizados-->
		<div class="contenedor" id="acuerdosRealizados" style="display: none;">
			<div class="divUsu">
					<br><br><br>
					<h3 style="text-align: left; color: #999999;">Estimado(a)</h3>
					<h1 style="color: #872174; text-align: left;"><strong>{{nomLog}}</strong></h1>
					<h3 style="font-size: 25px; text-align: left; margin-top: 5%">Haga click sobre un acuerdo para ver el detalle</h3>
					<br>
					<div class="tituloTabla"><h1 style="color: #fff; font-size: 25px;">Acuerdos realizados</h1></div>
					<div class="tabla">
						<table>
							<tr>
							  <th>Fundacrédito</th>
							  <th>Pago total</th>
							  <th>Fecha de pago</th>
							  <th>Punto de pago</th>
							  <th>Ver</th>
							</tr>
							<tr>
							  <td>3652438746</td>
							  <td>2.227.424</td>
							  <td>2020-11-07</td>
							  <td>RECAUDO</td>
							  <th><button type="button" class="btn btn-dark" style="background-color: #872174;" (click)="mostrarOcultar('acuerdosRealizados','resumen')"><i class="far fa-eye"></i></button></th>
							</tr>
						  </table>
					</div>
					<br><br><br>
				</div>
				<br><br><br>
				<button class="btn-entrar-salir">Salir</button>
				<br><br>
			</div>
			<!--Fin Acuerdos Realizados-->
	<!--Inicio Resumen-->
	<div class="contenedor" id="resumen" style="display: none;">
		<div class="divUsu">
				<br><br><br>
				<h3 style="text-align: left; color: #999999;">Estimado(a)</h3>
				<h1 style="color: #872174; text-align: left;"><strong>{{nomLog}}</strong></h1>
				<h3 style="font-size: 25px; text-align: left; margin-top: 5%">Resumen de su acuerdo</h3>
				<br>
				<div class="tituloTabla"><h1 style="color: #fff; font-size: 25px;"></h1></div>
				<table>
				  <tr>
					<th>Cuotas</th>
					<th>Fecha de pago</th>
					<th>Punto de pago</th>
					<th>Pago total</th>
				  </tr>
				  <tr>
					<td></td>
					<td></td>
					<td></td>
					<td>$</td>
				  </tr>
				</table>
				<br>
			</div>
			<br>
			<!--<button class="btn-entrar-salir">Salir</button>-->
			<br><br><br><br>
		</div>
		<!--Fin Resumen-->
	<!--Inicio fundaCreditos-->
	<div class="contenedor" id="indiviFund" style="display: none;">
		<div class="divUsu">
			<br><br><br>
			<h3 style="text-align: left; color: #999999;">Estimado(a)</h3>
			<h1 style="color: #872174; text-align: left;"><strong>{{nomLog}}</strong></h1>
			<h3 style="font-size: 25px; text-align: left; margin-top: 5%">Haga click sobre el fundacrédito para ver el detalle</h3>
			<div class="contFundacred">
				<button class="btnFundaCred" *ngFor="let ofer of oferta" (click)="verFundInd(ofer.id)">No: {{ofer.numero_producto}} - ${{ofer.valor_original_saldo_total}}</button>
			</div>
		</div>
			<br>
			<button class="btn-entrar-salir" (click)="consultaIncial()">Regresar</button>
			<br><br><br><br>
	</div>
	<!--Fin fundaCreditos-->

    	<!--Inicio modal para comprobante de pago-->
		<div id="comPago" class="modalContainer">
			<div class="modal-content">
			  <div class="dropZoneContainer">
				<form action="/api/upload" method="post" enctype="multipart/form-data">
				<input type="file" id="drop_zone" class="FileUpload" accept=".jpg,.png,.gif" (change)="fileChange($event) " />
				<div class="dropZoneOverlay"><i class="fas fa-file-upload"></i> <h2>Seleccionar archivo</h2><br> Agregar aquí el comprobante de su pago <br /></div>
				</form>  
			</div>
			  <br>
			  <h1 [hidden]="flagBtnCargando == false ">Cargando archivo...</h1>
			  <button class="boton4" style="margin-top: 3%;" [hidden]="flagBtnEnvFot == false " (click)="upload()"  id="btnUpload">enviar</button>
			<br>
			</div>
		  </div>
		  <!--Fin modal para comprobante de pago -->


<footer style="display: none;" id="footer">
		<div class="botonera">
			<div class= "botonReiniciar" style="display: none;">
				<button class="btnBotonera"><i class="fas fa-undo-alt"></i></button>
				<p>Reiniciar</p>
			</div>
			<div class= "botonReiniciar">
				
				<a href="https://api.whatsapp.com/send?phone=3138822930&text=Hola, fundamujer"><button class="btnBotonera" (click)="interaClick('10211','btnwt');interaClick('10117 ','wht');"><i class="fab fa-whatsapp"></i></button></a>
				<p>WhatsApp</p>
			</div>
			<div class= "botones">
				<button class="btnBotonera"><i class="fas fa-info" (click)="interaClick('10211','btninfo');info()"></i></button>
				<p>Info</p>
			</div>
			<div class= "botones ">
				<button class="btnBotonera" id="btnModalPago" (click)="interaClick('10211','btnpago');abrirModalPago()"><i class="far fa-thumbs-up"></i></button>
				<p>Ya pagué</p>
			</div>
		</div>
</footer>



</div>
