/*.fondo{
	 background:url('../../../../../tuAcuerdo/src/assets/imagenes/background.png') no-repeat center center; 
	
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: cover;
  text-align: center;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  
}*/

.fondo{
  background:url('../../../../../tuAcuerdo/src/assets/imagenes/background.png');
  text-align: center;
  width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0; 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  
}
.portada{
  display: none;
}



h1{
  color: #872174;
}

.txtMotNoPag{
  font-size: 40px; 
  color: #fff; 
  margin-top: -1%;
}

.txtSelecOpcion{
  font-size: 40px; 
  color: #872174;
  margin-top: 5%;
}

.txtRadioButton{
  font-size: 17px; 
  float: left; 
  margin-top: 2%;
}

.txtItemOfic{
  font-size: 17px; 
  float: right; 
  margin-top: 2%;
}

.txtEstCuenta{
  color: #fff; 
  font-size: 25px;
}
.txtSelecProcPag{
  font-size: 35px; 
  color: #872174;
  margin-top: 5%;
}

.txtDivBtnPagCont{
  margin-top: 3%; 
  font-size: 35px;
  color: #999999;
}

.txtSelectCanCuot{
  text-align: left;
  font-size: 30px;
  color: #999999;
}

.txtTermCond{
  font-size: 20px;
}
.txtTituloTabla{
  color: #fff; 
  font-size: 35px; 
  margin-top: -6%;
}

.divSelctFecha{
  float: left; 
  width: 45%;
}
.divSelctFechaCalendar{
  float: left; 
  width: 50%;
}

h2{
  color: #872174;
  color: #999999;
  text-align: left;
}

h3{
  color: #872174;
  color: #999999;
  text-align: left;
}

.contentValidar{
	width: 80%;
	height: 850px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 15%;
	border-radius: 20px;
	background-color: rgb(135, 33, 116 , .2);
}

.btn-entrar-salir{
	margin-top: 4%;
	margin-bottom: 6%;
	margin-left: 35%;
	margin-right: 35%;
	width: 30%;
	height: 50px;
	font-size:20px;
	background-color:#872174;
	border-radius: 100px;
	color: #fff;
}

.boton4{
	width: 60%;
	height: 40px;
	border-radius: 50px;
	font-size: 24px;
	background-color:#872174;
	margin-bottom: 5%;
	margin-top: 30%;
	margin-left: 20%;
	color: #fff;
}

.documentoUsu{
  width: 5%;
}

.contenedor{
  width: 80%;
	margin-left: 10%;
	margin-right: 10%;
  margin-top: 15%;
  margin-bottom: 1%;
	border-radius: 20px;
	background-color: #fff;
  display: block;
}

.divUsu{
	width: 90%;
	height: 30%;
	margin-top: 8%;
	margin-left: 5%;
	margin-right: 10%;
}

.divUsuPagoCont{
  width: 90%;
	height: 30%;
	margin-top: 3%;
	margin-left: 5%;
	margin-right: 10%;
}

.divUsuPagoContMedio{
  width: 90%;
	height: 100%;
	margin-top: 3%;
	margin-left: 20%;
  margin-right: 10%;
}

.btn-iconos{
  margin-top: 10%;
  width: 30%;
  height: 100px;
  background-color:#872174;
  color:#FFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 60px;
  line-height:32px;

}

.btn-si{
	width: 30%;
	height: 60px;
	font-size:30px;
	background-color:#872174;
	border-radius: 100px;
	color: #fff;
}

.btn-no{
	width: 30%;
	height: 60px;
	font-size:30px;
	margin-left: 18%;
	background-color:#872174;
	border-radius: 100px;
	color: #fff;
}

.btn-iconos-estado-cuenta{
  margin-top: 10%;
  width: 20%;
  height: 90px;
  background-color:#872174;
  color:#FFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 60px;
  line-height:32px;
  margin-left: 1%;
}

.btn-iconos-estado-cuenta-pag-cont{
  margin-top: 10%;
  width: 10%;
  height: 90px;
  background-color:#872174;
  color:#FFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 60px;
  line-height:32px;
  margin-left: 1%;
}

.btn-iconos-pago-cuotas{
  margin-left: 3%;
  width: 100%;
  float: left;
  height: 100px;
  background-color:#872174;
  color:#FFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 55px;
  line-height:32px;
}

.divBtnPagCont{
  float: left; 
  width: 50%;
}

.divBtnPagContMedio{
  margin-top: 1%; 
  margin-bottom: -20%;
  font-size: 15px;
}
.divBtnsRegNoInter{
  margin-left: 10%; 
  margin-right: 7%; 
  margin-top: 22%;
}

.divTextRealizPago{
  margin-left: 5%; 
  margin-right: 7%; 
  text-align: center; 
  margin-top: 20%;
}

.botonera{
	width: 100%;
  height: 120px;
  bottom:0;
	z-index:555555;
	margin-bottom: 5%;
}

.btnBotonera{
  width: 100%;
  height: 70px;
  border-color: purple;
  float: right;
  background-color: transparent;
  color:#872174;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 45px;
  line-height:32px;
}

.botones{
	width: 5%;
	float: right;
	height: 90px;
	margin-right: 3%;
  text-align: center;
}

.botonReiniciar{
	width: 5%;
	float: right;
	height: 90px;
	margin-right: 10%;
  text-align: center;
}

.titulo2{
	background-color: #872174;
	text-align: center;
	width: 100%;
	height: 100px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.bloque1{
  float: left;
  width: 50%;
  margin-top: 2%;
}

.bloque1-1{
  width: 60%;
  margin-left: 25%;
}
.bloque1-3{
  width: 60%;
  margin-left: 25%;
}

.bloque2{
  float: left;
  width: 50%;
  margin-top: 2%;
}


/*Para los radio buttons*/

.radio-item {
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
  margin-left: 0%;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label {
  color: #666;
  font-weight: normal;
}

.radio-item label:before {
  content: " ";
  display: block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #872174;
  background-color: transparent;
  float: left;
}

.radio-item input[type=radio]:checked + label:after {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: relative;
  top: 10px;
  left: 5px;
  content: " ";
  display: block;
  background: #872174;
}
/* Fin Para los radio buttons*/

label{
  width: 100%;
  float: left;
}

table {
  font-family: arial, sans-serif;
  font-size: 25px;
  color: #999999;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.tituloTabla{
	width: 100%;
	height: 40px;
	background-color: #872174;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.divRegreConfirPagCont{
  margin-left: 10%; 
  margin-right: 7%; 
  margin-top: 10%;
}

.divCantiCuotas{
  width: 28%; 
  margin-left: 5%;
  float: left;
}

.divTxtSelectCanCuot{
  width: 36%; 
  float: left; 
  margin-left: 13%;
}

.sCuotas{
  width: 100%;
  height: 70px;
  font-size: 20px;
  float: left;
  margin-top: 7%;
}
.divSCuotas{
  width: 5%; 
  float: left;
}

.divBtnCalendarPagoCuotas{
  width: 10%; 
  float: left;
}

.divContSelectCantFecha{
  width: 100%; 
  height: 200px;
}

.divTermCond{
  width: 80%;
  margin-left: 10%;
}

/* MODAL */

.modalContainer {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 5%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modalContainer .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid lightgray;
  border-top: 70px solid #872174;
  border-radius: 30px;
  width: 80%;
}

.modalContainer .close {
  color: #aaaaaa;
  float: right;
  font-size: 18px;
  font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* FIN MODAL */

.dropZoneOverlay, .FileUpload {
  width: 80%;
  height: 68px;
  margin-left: 7%;
}

.dropZoneOverlay {
  margin-top: 3%;
  border: dotted 1px;
  color:  #872174;
  position: absolute;
  top: 0px;
  text-align: center;
}

.FileUpload {
  margin-top: 3%;
  opacity: 0;
  position: relative;
  z-index: 1;
}



.contFundacred{
  width: 90%;
  height: 100%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.btnFundaCred{
	margin-bottom: 3%;
	width: 100%;
	height: 100px;
	font-size:30px;
  background-color:rgb(135, 33, 116 , .2);
  border-color: transparent;
	border-radius: 80px;
	color:  #872174;
}




@media (max-width: 768px){

  .contentValidar{
    width: 80%;
    height: 350px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30%;
    margin-bottom: 70%;
    border-radius: 20px;
    background-color: rgb(135, 33, 116 , .2);;
  }
  .btn-entrar-salir{
    margin-top: 4%;
    margin-bottom: 7%;
    margin-left: 25%;
    margin-right: 35%;
    width: 50%;
    height: 40px;
    font-size:20px;
    background-color:#872174;
    border-radius: 100px;
    color: #fff;
  }

  .contenedor{
    width: 90%;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 30%;
    border-radius: 20px;
    background-color: #fff;
    display: block;
  }

  .btn-iconos{
    margin-top: -35%;
    width: 80%;
    height: 70px;
    background-color:#872174;
    color:#FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 40px;
    line-height:32px;
  
  }

  .divTextRealizPago{
    margin-top: 32%;
  }

  
.btn-si{
	width: 40%;
	height: 40px;
	font-size:13px;
	background-color:#872174;
	border-radius: 100px;
	color: #fff;
}

.btn-no{
	width: 40%;
	height: 40px;
	font-size:13px;
	margin-left: 18%;
	background-color:#872174;
	border-radius: 100px;
  color: #fff;
}
.botonera{
	margin-top: -10%;
}

.btnBotonera{
  width: 100%;
  height: 45px;
  border-color: purple;
  float: right;
  background-color: transparent;
  color:#872174;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size:25px;
  line-height:32px;
}

.botones{
	width: 11%;
	float: right;
	height: 45px;
	margin-right: 4%;
  text-align: center;
}

.botonReiniciar{
	width: 11%;
	float: right;
	height: 45px;
	margin-right: 11%;
  text-align: center;
}

p{
  font-size: 11px;
}

.titulo2{
	background-color: #872174;
	text-align: center;
	width: 100%;
	height: 60px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.txtMotNoPag{
  font-size: 18px; 
  color: #fff; 
  margin-top: -7%;
}
.txtSelecOpcion{
  font-size: 18px; 
  color: #872174;
  margin-top: 8%;
}
.txtRadioButton{
  font-size: 15px; 
  float: left; 
  margin-top: 2%;
}

.txtEstCuenta{
  font-size: 20px;
}
.txtSelecProcPag{
  font-size: 20px; 
  color: #872174;
  margin-top: 10%;
}

.txtDivBtnPagCont{
  margin-top: 1%; 
  font-size: 15px;
}

.divBtnPagContMedio{
  margin-top: 1%; 
  margin-bottom: -20%;
  font-size: 15px;
}

.bloque1{
  float: left;
  width: 100%;
  margin-top: 2%;
}

.bloque1-1{
  width: 90%;
  margin-left: 5%;
}
.bloque1-3{
  background-color: red;
  width: 70%;
  margin-left: 2%;
}

.bloque2{
  float: left;
  width: 100%;
  margin-top: -2%;
}


/*Para los radio buttons*/

.radio-item {
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
  margin-left: 0%;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label {
  color: #666;
  font-weight: normal;
}

.radio-item label:before {
  content: " ";
  display: block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #872174;
  background-color: transparent;
  float: left;
}

.radio-item input[type=radio]:checked + label:after {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: relative;
  top: 10px;
  left: 5px;
  content: " ";
  display: block;
  background: #872174;
}
/* Fin Para los radio buttons*/

table {
  font-family: arial, sans-serif;
  font-size: 12px;
  color: #999999;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.btn-iconos-estado-cuenta{
  margin-top: 10%;
  width: 40%;
  height: 55px;
  background-color:#872174;
  color:#FFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 35px;
  line-height:32px;
  margin-left: 1%;
}

.btn-iconos-estado-cuenta-pag-cont{
  margin-top: 10%;
  width: 30%;
  height: 75px;
  background-color:#872174;
  color:#FFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 35px;
  line-height:32px;
  margin-left: 1%;
}
.divBtnsRegNoInter{
  margin-left: 10%; 
  margin-right: 7%; 
  margin-top: 22%;
}
.divUsuPagoCont{
  width: 90%;
	height: 30%;
	margin-top: -10%;
	margin-left: 5%;
	margin-right: 10%;
}

.divSelctFechaCalendar{
  margin-left: 2%;
  width: 50%;
}
.tituloTabla{
  margin-top: 5%;
}

.divCantiCuotas{
  margin-top: -10%;
  width: 28%; 
  margin-left: 1%;
  float: left;
}

.txtSelectCanCuot{
  text-align: left;
  font-size: 14px;
  color: #999999;
}

.divUsu{
  margin-top: 5%;
}


.divSCuotas{
  margin-top: -10%;
  width: 13%; 
  float: left;
}

.sCuotas{
  width: 100%;
  height: 35px;
  font-size: 15px;
  float: left;
  margin-top: 40%;
}

.divTxtSelectCanCuot{
  margin-top: -10%;
  width: 35%; 
  float: left; 
  margin-left: 4%;
}

.divBtnCalendarPagoCuotas{
  margin-top: -10%;
  width: 17%; 
  float: left;
}
.btn-iconos-pago-cuotas{
  margin-left: 3%;
  width: 100%;
  float: left;
  height: 50px;
  background-color:#872174;
  color:#FFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 25px;
  line-height:32px;
}

.divContSelectCantFecha{
  width: 100%; 
  height: 0px;
}
.txtTermCond{
  font-size: 15px;
}
.txtTituloTabla{
  color: #fff; 
  font-size: 20px; 
  margin-top: -23%;
}
.tabla{
  overflow:scroll;
}


.portada{
  background:url('../../../../../tuAcuerdo/src/assets/imagenes/pantainicio.png');
  display: block;
  
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  background-size:contain;
  max-width: 100%;
}
.fondo{
  display: none;
  background:url('../../../../../tuAcuerdo/src/assets/imagenes/background.png')center center cover no-repeat fixed;
}

.portIngresarBtn{
  margin-top: 115%;
	margin-bottom: 6%;
  margin-left: 30%;
  border-color: transparent;
	margin-right: 35%;
	width: 40%;
	height: 40px;
	font-size:20px;
	background-color:#fff;
	border-radius: 100px;
  color:#872174;
}

.btnFundaCred{
	margin-bottom: 3%;
	width: 100%;
	height: 80px;
	font-size:20px;
  background-color:rgb(135, 33, 116 , .2);
  border-color: transparent;
	border-radius: 80px;
	color:  #872174;
}

h1{
  font-size: 18px;
}
h3{
  font-size: 13px;
}

}