<div class="navPer">
    <div class="logo"></div>
    <h1><b>"Aliado estratégico para Yanbal"</b></h1>
</div>

<h2 style="text-align: center; font-style: italic bold; margin-top: 3%">Estimado</h2>
<h2 style="text-align: center; font-style: italic bold;">{{nomUsu}}</h2>
<!--Inicio principal-->
<div id="inicio" style="display: block;">
        <div class="mx-auto" style="width: 90%;">
        <div class="card" style="margin-top: 3%">
          <div class="card-header" style="background-color: #0d2b49">
           <h2 style="color: #fff"><i class="fas fa-dollar-sign"></i><b> Detalles de su pedido</b></h2>
          </div>
          <div class="card-body">
              <table>
                 <tr>
                   <th>Pedido N°</th>
                   <th>Días Mora</th>
                   <th>Valor</th>
                 </tr>
                 <tr *ngFor="let dato of datos">
                   <td>{{dato.numero_producto}}</td>
                   <td>{{dato.dias_mora}}</td>
                   <td>${{dato.valor_original_saldo_total}}</td>
                 </tr>
            </table>
            <h2 style="text-align: center; margin-top: 3%"><b>¿Podría realizar este pago?</b></h2>
            <div style="width: 70%; height: 100px; margin-left: 15%; margin-top: 5%; margin-bottom: 13%">
                <div style=" width: 25%; float: left; height: 100px; margin-left: 10%;">
                    <button class="boton"(click)="mostrarOcultar('inicio','realizarPago')"><b>SI</b></button>
                </div>
                <div style=" width: 25%; height: 100px; float: right; margin-right:10%;">
                    <button class="boton" (click)="mostrarOcultar('inicio','pagoPVista1')"><b>NO</b></button>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
<!--Fin principal-->
<!--Inicio realizar pago-->
<div id="realizarPago" style="display: none">
    <div class="mx-auto" style="width: 90%;">
        <div class="card" style="margin-top: 5%">
          <div class="card-header" style="background-color: #0d2b49">
           <h2 style="color: #fff"><i class="far fa-calendar-alt"></i> <b> Fecha para pago</b></h2>
          </div>
          <div class="card-body">
              <h2 style="text-align: center; font-style: italic bold; margin-top: 3%">Indique la fecha en la que puede realizar el pago</h2>
              <h1 style="text-align: center; font-style: italic bold; margin-top: 4%;">Valor a pagar ${{datos[0].valor_original_saldo_total}}</h1>
              <div style="width: 80%; height: 2px; background-color: black; margin-left: 10%; margin-top: 3%"></div>
              <input type="text" style="width: 80%; height: 40px; margin-left: 10%; font-size: 20px; margin-top: 5%; text-align: center;" [(ngModel)]='Fecha' bsDatepicker [(bsValue)]="myDateValueI" value="{{ myDateValueI | date:'yyyy-MM-dd'}}" placeholder="Seleccione aquí la fecha de pago">
            <div style="width: 80%; height: 100px; margin-top: 9%; margin-bottom: 13%;">
                <div style=" width: 40%; float: left; height: 100px;">
                    <button class="boton2"><b>ENVIAR</b></button>
                </div>
                <div style=" width: 40%; height: 100px; float: right;">
                    <button class="boton2" (click)="mostrarOcultar('realizarPago','inicio')"><b>CANCELAR</b></button>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
<!--Fin realizar pago-->
<!--Inicio pregunta pago parcial-->
<div id="pagoPVista1" style="display: none">
    <h3><b>¡Le ofrecemos el beneficio de pago parcial sobre sus deudas!</b></h3>
    <div class="mx-auto" style="width: 90%;">
        <div class="card" style="margin-top: 5%">
          <div class="card-header" style="background-color: #0d2b49">
           <h2 style="color: #fff; text-align: center;"><b> Pagos en mora</b></h2>
          </div>
          <div class="card-body">
              <table>
                 <tr>
                   <th>Pedido N°</th>
                   <th>Valor</th>
                   <th>Pago parcial</th>
                 </tr>
                 <tr *ngFor="let dato of datos">
                  <td>{{dato.numero_producto}}</td>
                  <td>${{dato.valor_original_saldo_total}}</td>
                  <td (click)="abrirModal(dato.valor_original_saldo_total, dato.numero_producto)"><i class="fas fa-hands-helping" style="margin-left: 30%"></i></td>
                 </tr>
            </table>
            <div style="width: 70%; height: 80px; margin-left: 5%; margin-top: 5%;">
                <div style=" width: 80%; float: left; height: 100px; margin-bottom: 15%;">
                    <button class="boton2" (click)="reload()"><b>No me interesa</b></button>
                </div>
            </div>
          </div>
        </div>
        <div id="btnModal"></div>
    </div>
</div>
<!--Inicio  Acuerdos realizados-->
<div id="acuerReali" style="display: none; margin-bottom: 30%;">
        <div class="mx-auto" style="width: 90%;">
        <div class="card" style="margin-top: 5%;">
          <div class="card-header" style="background-color: #0d2b49">
           <h2 style="color: #fff; text-align: center;"><b>Acuerdos realizados</b></h2>
          </div>
          <div class="card-body">
              <table>
                 <tr>
                   <th>N°</th>
                   <th>Valor</th>
                   <th>Fecha de pago</th>
                 </tr>
                 <tr>
                   <td>1</td>
                   <td>$100000</td>
                   <td>Viernes 26/11/2020</td>
                 </tr>
                 <tr>
                   <td>1</td>
                   <td>$100000</td>
                   <td>Viernes 26/11/2020</td>
                 </tr>
            </table>
          </div>
        </div>
    </div>
</div>
<!--Fin  Acuerdos realizados-->

	<!--Inicio modal para selección de porcentajes y fecha de pago-->
	<div id="tvesModal" class="modalContainer">
		<div class="modal-content">
      <span style="float: right;" class="close"></span>
      <br>
      <h1 style="text-align: center; margin-left: 3%; color: #0d2b49 "><strong>Pago parcial</strong> </h1>
      <p style="margin-top: 2%">Seleccione el porcentaje de la consultoría que puede pagar para el pago en mora N° -</p>
      <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="porcentajes">
        <div class="radio-item" >
          <input type="radio" id="ochenta" value="80" name="rbPorc" formControlName="rbPorc" checked>
          <label for="ochenta"><h4>80%</h4></label>
      </div>
        <div class="radio-item">
            <input type="radio" id="cincuenta" value="50" name="rbPorc" formControlName="rbPorc">
            <label for="cincuenta"><h4>50%</h4></label>
        </div>
        <div class="radio-item">
            <input type="radio" id="treinta" value="30" name="rbPorc" formControlName="rbPorc">
            <label for="treinta"><h4>30%</h4></label>
        </div>
      </div>
    </form>
    <form [formGroup]="form2" (ngSubmit)="submit()">
      <p style="margin-top: 2%">Seleccione la fecha de su pago</p>
        <!--<div id="radioButtons"></div> Div para hacer dinámica la creación de los radio buttons-->
        <div class="fecha">
          <div class="radio-item-fecha" >
            <input type="radio" id="divN1" value="{{fecha1}}" name="rbFech" formControlName="rbFech">
            <label for="divN1">{{fecha1}}</label>
          </div>
          <div class="radio-item-fecha">
              <input type="radio" id="divN2" value="{{fecha2}}" name="rbFech" formControlName="rbFech">
              <label for="divN2">{{fecha2}}</label>
          </div>
          <div class="radio-item-fecha">
              <input type="radio" id="divN3" value="{{fecha3}}" name="rbFech" formControlName="rbFech">
              <label for="divN3">{{fecha3}}</label>
          </div>
        </div>
      <div style="width: 80%; height: 100px; margin-top: 9%; margin-bottom: 13%;">
        <div style=" width: 40%; float: left; height: 100px;">
          <button class="boton2" type="submit"><b>ENVIAR</b></button>
        </div>
        <div style=" width: 40%; height: 100px; float: right;">
          <button class="boton2" (click)="cerrarModal($event)"><b>CANCELAR</b></button>
        </div>
      </div>
    </form>
		</div>
	</div>
  <!--Fin modal para selección de porcentajes y fecha de pago -->
  <!--Fin pregunta pago parcial-->
  <!--Inicio resumen de pago parcial -->
	<div id="resumenPagIni" style="display: none;">
		<div class="mx-auto" style="width: 80%;">
			<div class="card">
			  <div class="card-header" style="background-color: #0d2b49">
			   <h2 style="color: #fff; text-align: center;"><b>Resumen de pago parcial</b></h2>
			  </div>
			  <div class="card-body">
			    <br>
			  	<h1>CONSULTOR(A):</h1><h2 style="text-align: center;">{{nomUsu}}</h2>
			  	<br>
			  	<h1>N° PEDIDO:</h1><h2 style="text-align: center;">{{numPedido}}</h2>
			  	<br>
			  	<h1>TOTAL DEUDA:</h1><h2 style="text-align: center;">${{totalDeuda}}</h2>
			  	<br>
			  	<h1>PAGO PARCIAL:</h1><h2 style="text-align: center;" id="pagoParcial">${{valPago}}</h2>
			  	<br>
			  	<h1>FALTANTE:</h1><h2 style="text-align: center;" id="faltante">${{valFaltante}}</h2>
			  	<br>
			  	<h1>FECHA:</h1><h2 style="text-align: center;" id="fecha">{{valRadFecha}}</h2>
				<div style="width: 80%; height: 100px; margin-top: 10%; margin-bottom: 20%;">
					<div style=" width: 40%; float: left; height: 100px;">
						<button class="boton2" (click)="mostrarOcultar('resumenPagIni','pagoPVista1')"><b>REGRESAR</b></button>
					</div>
					<div style=" width: 40%; height: 100px; float: right;">
						<button class="boton2" (click)="mostrarOcultar('resumenPagIni','terminosCondiciones')"><b>SIGUIENTE</b></button>
					</div>
				</div>
			  </div>
			</div>
		</div>
	</div>	
  <!--Fin resumen de pago parcial -->
  <!--Inicio terminos y condiciones -->
	<div id="terminosCondiciones" style="display: none;">
		<div class="mx-auto" style="width: 90%;">
			<div class="card">
			  <div class="card-header" style="background-color: #0d2b49">
			   <h2 style="color: #fff; text-align: center;"><b>Terminos y condiciones</b></h2>
			  </div>
			  <div class="card-body">
			  	<div style="width: 70%; margin-left: 15%;">
			    <br>
			  	<h2> 1. Debes realizar los pagos parciales en las fechas establecidas.</h2>
			  	<br>
			  	<h2> 2. Los pagos parciales no disminuyen tus días de mora.</h2>
			  	<br>
			  	<h2> 3. Realizar pagos parciales no te exime de cobros adicionales por mora.</h2>
			  	<br>			  		
			  	</div>
			  	<h2 style="text-align: center; margin-top: 5%; font-size: 18px"><b>Sigue disfrutando de tu crédito con Yanbal, puedes realizar el pago en línea ingresando a: https://pyf.yanbalcolombia.com/appPSE/VerFactura?client=1</b></h2>
				<div style="width: 80%; height: 100px; margin-top: 10%; margin-bottom: 12%;">
					<div style=" width: 40%; float: left; height: 100px;">
						<button class="boton2" (click)="confirmar()"><b>ACEPTAR</b></button>
					</div>
					<div style=" width: 40%; height: 100px; float: right;">
						<button class="boton2" (click)="mostrarOcultar('terminosCondiciones','resumenPagIni')"><b>REGRESAR</b></button>
					</div>
				</div>
			  </div>
			</div>
		</div>
	</div>		
  <!--Fin terminos y condiciones -->
  
    	<!--Inicio modal para comprobante de pago-->
      <div id="comPago" class="modalContainer">
        <div class="modal-content">
          <div class="dropZoneContainer">
            <input type="file" id="drop_zone" class="FileUpload" accept=".jpg,.png,.gif" (change)="cargandoImagen($event.target.files) " />
            <div class="dropZoneOverlay"><i class="fas fa-file-upload"></i> <h2>Seleccionar archivo</h2><br> Agregar aquí el comprobante de su pago <br /></div>
          </div>
          <button class="boton4" style="margin-top: 3%;" [hidden]="flagBtnEnvFot == false ">enviar</button>
        <br>
        </div>
      </div>
      <!--Fin modal para comprobante de pago -->

  
  <footer class="page-footer">
    <div style="width: 15%; height: 120px; float: left; margin-left: 11%; margin-top: 1%; text-align: center; font-size: 30px">
      <button class="btnBotonera" id="btnModalPago" (click)="abrirModalPago()"><i class="fas fa-thumbs-up" style="width: 100%"></i></button>
      <p>Ya pagué</p>
    </div>
    <div style="width: 15%; height: 120px; float: left; margin-left: 5%; margin-top: 1%; text-align: center; font-size: 30px">
      <button class="btnBotonera" (click)="telefonos()"><i class="fas fa-user" style="width: 100%"></i></button>
      <p>Datos</p>
    </div>
    <div style="width: 15%; height: 120px; float: left; margin-left: 5%; margin-top: 1%; text-align: center; font-size: 30px">
      <button class="btnBotonera" (click)="puntosPago()"><i class="fas fa-dollar-sign" style="width: 100%"></i></button>
      <p>Puntos $</p>
    </div>
    <div style="width: 15%; height: 120px; float: left; margin-left: 5%; margin-top: 1%; text-align: center; font-size: 30px">
      <button class="btnBotonera"><i class="fas fa-comment-dots" style="width: 100%; margin-left: 7px"></i></button>
      <p>Contáctanos</p>
    </div>
  </footer>
