.navPer{
	width: 100%;
	height: 170px;
	box-shadow: 2px 6px 6px #D8D8D8;
}

.logo{
	width: 25%;
	height: 100px;
	background-image: url('https://www.intelibpo.com/wp-content/uploads/2020/02/intelibpo-logo.png');
	background-repeat: no-repeat;
	align-content: center;
  	-webkit-background-size: contain;
  	-moz-background-size: contain;
  	-o-background-size: contain;
  	background-size: contain;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-left: 38%;
	margin-right: 30%;
}

h1{
	text-align: center;
	color: #3967a5;
}
h3{
	margin-top: 4%;
	text-align: center; 
	font-size: 35px;
}
h4{
	margin-left: 10px; 
	margin-top: 10px; 
	font-size: 18px;
}

table {
  font-family: arial, sans-serif;
  font-size: 20px;
  color: rgba(0,0,0,0.87);
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.tituloTabla{
	width: 100%;
	height: 40px;
	background-color: #872174;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.boton{
	width: 50%;
	height: 100px;
	margin-left: 12%;
	border-radius: 50%;
	font-size: 30px;
	background-color: #0d2b49;
	color: #fff;
}

.boton2{
	width: 100%;
	height: 80px;
	margin-left: 30%;
	border-radius: 50px;
	font-size: 30px;
	background-color: #0d2b49;
	color: #fff;
}


.boton4{
	width: 40%;
	height: 60px;
	border-radius: 50px;
	font-size: 20px;
	background-color: #0d2b49;
	margin-bottom: 5%;
	margin-top: 6%;
	margin-left: 30%;
	color: #fff;
}

p{
	font-size: 25px;
	text-align: center;
}

/* MODAL */

	.modalContainer {
			display: none; 
			position: fixed; 
			z-index: 1;
			padding-top: 5%;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%; 
			overflow: auto; 
			background-color: rgb(0,0,0);
			background-color: rgba(0,0,0,0.4);
		}

		.modalContainer .modal-content {
			background-color: #fefefe;
			margin: auto;
			margin-top: 10%;
			padding: 20px;
			border: 1px solid lightgray;
			border-top: 40px solid #0d2b49;
			border-radius: 6px;
			width: 80%;
		}

		.modalContainer .close {
			color: #aaaaaa;
			float: right;
			font-size: 68px;
			font-weight: bold;
		}

		.modalContainer .close:hover,
		.modalContainer .close:focus {
			color: #000;
			text-decoration: none;
			cursor: pointer;
		}

/* FIN MODAL */

/*Para los radio buttons*/

.porcentajes{
	width: 30%;
	height: 100px;
	margin-left: 40%;
}


.radio-item {
  position: relative;
  float: left;
  width: 30%;
  margin-left: 50%;
  padding: 0 6px;
  margin: 1px 0 0;
}

.radio-item input[type='radio'] {
  display: none;
  
}

.radio-item label {
  color: #666;
  font-weight: normal;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #0d2b49;
  background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 11px;
  left: 12px;
  content: " ";
  display: block;
  background: #0d2b49;
}

	/***/

	.fecha{
		width: 60%;
		margin-left: 22%;
	}

	.radio-item-fecha {
		display: inline-block;
		position: relative;
		padding: 0 6px;
		margin: 10px 0 0;
		margin-left: 3%;
	  }
	  
	  .radio-item-fecha input[type='radio'] {
		display: none;
		
	  }
	  
	  .radio-item-fecha label {
		color: #666;
		font-size: 18px;
	  }
	  
	  .radio-item-fecha label:before {
		content: " ";
		display: inline-block;
		position: relative;
		top: 5px;
		margin: 0 5px 0 0;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 2px solid #0d2b49;
		background-color: transparent;
	  }
	  
	  .radio-item-fecha input[type=radio]:checked + label:after {
		border-radius: 50%;
		width: 18px;
		height: 18px;
		position: absolute;
		top: 11px;
		left: 12px;
		content: " ";
		display: block;
		background: #0d2b49;
	  }

/* Fin Para los radio buttons*/



.page-footer{
	width: 100%;
	height: 150px;
	background-color: red;
	position: fixed;
	bottom: 0;
	clear: both;
	color: #fff;
	background-color: #0d2b49;
	z-index: 999;

}

.btnBotonera{
  width: 100%;
  height: 80px;
  border: none;
  float: right;
  background-color: transparent;
  color:#fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 60px;
  line-height:32px;
}


.dropZoneOverlay, .FileUpload {
    width: 80%;
    height: 71px;
    margin-left: 7%;
}

.dropZoneOverlay {
    margin-top: 3%;
    border: dotted 1px;
    color:  #0d2b49;
    position: absolute;
    top: 0px;
    text-align: center;
}

.FileUpload {
    margin-top: 3%;
    opacity: 0;
    position: relative;
    z-index: 1;
}



@media (max-width: 768px){

	.navPer{
	width: 100%;
	height: 100px;
	box-shadow: 2px 6px 6px #D8D8D8;
	}

	.logo{
		width: 40%;
		height: 50px;
		margin-top: 5%;
		background-image: url('https://www.intelibpo.com/wp-content/uploads/2020/02/intelibpo-logo.png');
		background-repeat: no-repeat;
		align-content: center;
	  	-webkit-background-size: contain;
	  	-moz-background-size: contain;
	  	-o-background-size: contain;
	  	background-size: contain;
		text-align: center;
		justify-content: center;
		align-items: center;
		margin-left: 30%;
		margin-right: 30%;
	}

	h1{
		text-align: center;
		color: #3967a5;
		font-size: 20px;
	}
	h3{
		font-size: 20px;
	}
	p{
		font-size: 15px;
		text-align: center;
	}

	table {
	  font-family: arial, sans-serif;
	  font-size: 20px;
	  color: rgba(0,0,0,0.87);
	  border-collapse: collapse;
	  width: 100%;
	}
	td, th {
	  border: 1px solid #dddddd;
	  text-align: left;
	  padding: 8px;
	}

	tr:nth-child(even) {
	  background-color: #dddddd;
	}

	.tituloTabla{
		width: 100%;
		height: 40px;
		background-color: #872174;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}
	h2{
		font-size: 20px;
	}
	.boton{
		width: 100%;
		height: 45px;
		margin-left: 12%;
		border-radius: 50%;
		font-size: 18px;
		background-color: #0d2b49;
		color: #fff;
	}

	.boton2{
		width: 100%;
		height: 40px;
		margin-left: 30%;
		border-radius: 50px;
		font-size: 13px;
		background-color: #0d2b49;
		color: #fff;
	}

	.boton4{
		width: 80%;
		height: 40px;
		margin-top: 6%;
		margin-bottom: 10%;
		margin-left: 10%;
		font-size:12px;
		color: #fff;
	}

	.btnBotonera{
	  width: 100%;
	  height: 80px;
	  border: none;
	  float: right;
	  background-color: transparent;
	  color:#fff;
	  -webkit-border-radius: 50%;
	  -moz-border-radius: 50%;
	  border-radius: 50%;
	  font-size: 60px;
	  line-height:32px;
	}
	.porcentajes{
		width: 75%;
		height: 100px;
		margin-left: 20%;
	}
	.fecha{
		width: 100%;
		margin-left: 10%;
	}
	.page-footer{
		width: 100%;
		height: 100px;
		position: fixed;
		bottom: 0;
		clear: both;
		color: #fff;
		background-color: #0d2b49;
		z-index: 999;
	
	}
	.btnBotonera{
		width: 100%;
		height: 60px;
		border: none;
		float: right;
		color:#fff;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		font-size: 30px;
		line-height:32px;
	  }

	p{
		font-size: 13px;
	}

	.dropZoneOverlay{
		margin-left: 3%;
	}
}