.navPer{
	width: 100%;
	height: 110px;
	box-shadow: 2px 6px 6px #D8D8D8;
}

.logo{
	width: 20%;
	height: 120px;
	background-image: url('https://global-uploads.webflow.com/58c5b8748712539d1de79645/5ca0f0b3b7e3ed7bb61f61bd_fiju.png');
	background-repeat: no-repeat;
	align-content: center;
  	-webkit-background-size: contain;
  	-moz-background-size: contain;
  	-o-background-size: contain;
  	background-size: contain;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-left: 41%;

}
h1{
	text-align: center;
	color: #3967a5;
	margin-top: 3%;
}
h2{
	text-align: center; 
	font-style: italic bold; 
	font-size: 20px;
}
.boton{
	width: 65%;
	height: 100px;
	margin-left: 12%;
	border-radius: 50%;
	font-size: 20px;
	background-color: rgba(0, 82, 148, 1) !important;
	color: #fff;
}

.boton2{
	width: 40%;
	height: 60px;
	border-radius: 50px;
	font-size: 20px;
	background-color: rgba(0, 82, 148, 1) !important;
	margin-bottom: 5%;
	margin-top: 6%;
	margin-left: 30%;
	color: #fff;
}

.boton4{
	width: 40%;
	height: 60px;
	border-radius: 50px;
	font-size: 20px;
	background-color: rgba(0, 82, 148, 1) !important;
	margin-bottom: 5%;
	margin-top: 6%;
	margin-left: 30%;
	color: #fff;
}

.boton3{
	width: 60%;
	height: 60px;
	border-radius: 50px;
	font-size: 22px;
	background-color: rgba(0, 82, 148, 1) !important;
	margin-bottom: 30%;
	margin-top: 6%;
	margin-left: 50%;
	color: #fff;
}

.saldoT{
	width: 90%;
	height: 100px;
	background-color: #008080;
	margin-top: 3%;
	margin-left: 5%;
	margin-right: 5%;
	box-shadow: 2px 6px 6px #D8D8D8;
}

.card-header{
    background-color: rgba(0, 82, 148, 1) !important; 
    height: 80px;
}

table {
  font-family: arial, sans-serif;
  font-size: 20px;
  color: rgba(0,0,0,0.87);
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


.page-footer{
	width: 100%;
	height: 120px;
	background-color: red;
	position: fixed;
	bottom: 0;
	clear: both;
	color: #fff;
	background-color: rgba(0, 82, 148, 1) !important;
	z-index: 999;

}

.btnBotonera{
  width: 100%;
  height: 50px;
  border: none;
  float: right;
  background-color: transparent;
  color:#fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 60px;
  line-height:32px;
}

.btnYapague{
    width: 20%; 
    float: left; 
    margin-left: 17%; 
    margin-top: 1%; 
    text-align: center; 
    font-size: 30px;
}

.btnPagos{
    width: 15%; 
    float: left; 
    margin-left: 5%; 
    margin-top: 1%; 
    text-align: center; 
    font-size: 30px;
}

.btnContacto{
    width: 15%;
    float: left; 
    margin-left: 5%; 
    margin-top: 1%; 
    text-align: center; 
    font-size: 30px;
}

.btnRechazarOferta{
    width: 20%; 
    height: 100px; 
    float: right; 
    margin-right:10%; 
    margin-bottom: 20%;
}

.list-group-item{
    font-size: 20px;
}

.card{
    margin-top: 1%;
}



#iconoLike{
    
    font-size: 45px; 
    margin-top: 2%;
}

.btnDocu{
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
    margin-top: 30px;
    font-size: 20px;
    margin-left: 20%;
  }



 .dropZoneOverlay, .FileUpload {
    width: 80%;
    height: 71px;
    margin-left: 7%;
}

.dropZoneOverlay {
    margin-top: 3%;
    border: dotted 1px;
    color:  rgba(0, 82, 148, 1) !important;
    position: absolute;
    top: 0px;
    text-align: center;
}

.FileUpload {
    margin-top: 3%;
    opacity: 0;
    position: relative;
    z-index: 1;
}

/* MODAL */

.modalContainer {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContainer .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-top: 40px solid  rgba(0, 82, 148, 1) !important;
    border-radius: 30px;
    width: 50%;

}

.modalContainer .close {
    color: #aaaaaa;
    float: right;
    font-size: 68px;
    font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* FIN MODAL */

@media (max-width: 768px){
    .navPer{
        width: 100%;
        height: 60px;
        box-shadow: 2px 6px 6px #D8D8D8;
        }

    	.logo{
            width: 40%;
            height: 180px;
            background-image: url('https://global-uploads.webflow.com/58c5b8748712539d1de79645/5ca0f0b3b7e3ed7bb61f61bd_fiju.png');
            background-repeat: no-repeat;
            align-content: center;
            -webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain;
            background-size: contain;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-left: 30%;
        }

        h2{
            text-align: center; 
            font-style: italic bold; 
            font-size: 15px;
            }
        h1{
            text-align: center; 
            font-style: italic bold; 
            font-size: 15px;
            }

        .card-header{
            height: 50px;
        }
        table {
            font-size: 13px;
          }

        .boton{
            width: 180%;
            height: 60px;
            margin-left: 0%;
            border-radius: 50%;
            margin-top: 40%;
            font-size: 10px;
            background-color: #0d2b49;
            color: #fff;
        }
    
        .boton2{
            width: 80%;
            height: 40px;
            margin-top: 6%;
            margin-bottom: 10%;
            margin-left: 15%;
            font-size:12px;
            color: #fff;
        }
        .boton3{
            width: 100%;
            height: 40px;
            margin-top: 6%;
            margin-left: 50%;
            font-size:12px;
            color: #fff;
        }

        .boton4{
            width: 80%;
            height: 40px;
            margin-top: 6%;
            margin-bottom: 10%;
            margin-left: 10%;
            font-size:12px;
            color: #fff;
        }

    
        .list-group-item{
            font-size: 30px;
        }

        .page-footer{
            width: 100%;
            height: 100px;
            position: fixed;
            bottom: 0;
            clear: both;
            color: #fff;
            background-color: rgba(0, 82, 148, 1) !important;
            z-index: 999;
        
        }
        
        .btnBotonera{
          width: 100%;
          height: 60px;
          border: none;
          float: right;
          color:#fff;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          font-size: 40px;
          line-height:32px;
        }

        p{
            font-size: 15px;
        }

        .btnRechazarOferta{
            margin-bottom: 70%;
        }

        #resumenObligaciones{
            font-size: 10px;
            width: 100%;
        }

        table {
            display: block;
            overflow-x: auto;
          }

        .card{
            margin-top: 10%;
        }

        .list-group-item{
            font-size: 15px;
        }
        #iconoLike{
    
            font-size: 35px; 
            margin-top: 15%;
            margin-bottom: 14%;
        }

    
        .btnDocu{
            position: relative;
            width: 1%;
            height: 100%;
            opacity: 1;
            margin-left: 0%;
            margin-top: 10px;
            font-size: 10px;
          }

        /* MODAL */

        .modalContainer {
            display: none; 
            position: fixed; 
            z-index: 1;
            padding-top: 5%;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%; 
            overflow: auto; 
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }

        .modalContainer .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid lightgray;
            border-top: 40px solid #0d2b49;
            border-radius: 30px;
            width: 80%;

        }

        .modalContainer .close {
            color: #aaaaaa;
            float: right;
            font-size: 68px;
            font-weight: bold;
        }

        .modalContainer .close:hover,
        .modalContainer .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        /* FIN MODAL */

        .dropZoneOverlay{
            margin-left: 3%;
        }

       
}


	
