<div class="navPer">
  <div class="logo"></div>
</div>
<br><br>
<h2>Bienvenido(a)</h2>
<h2>{{nomUsu}}</h2>	
<!--Inicio principal-->
<div id="inicio" [hidden]="idVer == '0'">

        <div class="mx-auto" style="width: 80%;">
        <div class="card" style="margin-top: 4%">
          <div class="card-header" >
           <h2 style="color: #fff; text-align: left; float: left; margin-top: 2%; margin-left: 3%"><i class="fas fa-dollar-sign"></i><b> Saldo total</b></h2>
           <h2 style="color: #fff; float: right; margin-right: 5%; margin-top: 2%"><b> $ {{valSaldoTotal}}</b></h2>
          </div>
          <div class="card-body">
              <h1>PENSANDO EN TI</h1>
              <h2>Financiera Juriscoop ha diseñado este beneficio para que puedas atender tus obligaciones de una manera más comoda.<br> Si aceptas unificaremos tus creditos y generaremos una nueva negociación.
              </h2>
              <br><br>
              <table>
                 <tr>
                   <th>N° Cuotas</th>
                   <th>Valor aprox cuota</th>
                   <th>Tasa preferencial</th>
                 </tr>
                 <tr>
                   <td>{{numCuotas}}</td>
                   <td>$ 53.455</td>
                   <td>8%</td>
                 </tr>
            </table>
            
            <div style="width: 70%; height: 190px; margin-left: 15%; margin-top: 5%; margin-bottom: 13%">
                <div>
                    <button class="boton2" (click)="mostrarOcultar('inicio','obligaciones')"><b>Ver detalle de tus productos</b></button>
                </div>
                <div style=" width: 20%; float: left; height: 100px; margin-left: 10%;">
                    <button class="boton" (click)="mostrarOcultar('inicio','terminosCondiciones')"><b>Acepto oferta</b></button>
                </div>
                <div class="btnRechazarOferta">
                    <button class="boton" (click)="mostrarOcultar('inicio','motivoNopago')"><b>Rechazo oferta</b></button>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
<!--Fin principal-->
<!--Inicio obligaciones-->
<div id="obligaciones" style="display: none;">
  <div class="mx-auto" style="width: 95%;">
  <div class="card" style="margin-top: 4%">
    <div class="card-header">
     <h2 style="color: #fff; text-align: left; float: left; margin-top: 2%; margin-left: 3%"><i class="fas fa-dollar-sign"></i><b> Saldo total</b></h2>
     <h2 style="color: #fff; float: right; margin-right: 5%; margin-top: 2%"><b> $ {{valSaldoTotal}}</b></h2>
    </div>
    <div class="card-body">
      <h1>RESUMEN DE OBLIGACIONES</h1>
      <br><br>
      <table id="resumenObligaciones">
       <tr>
         <th>Tipo de cartera</th>
         <th>Credito</th>
         <th>Saldo capital</th>
         <th>Saldo total</th>
         <th>Valor cuotas</th>
         <th>Tasa</th>
       </tr>
       <tr *ngFor="let dato of datos">
         <td>{{dato.tipoProducto}}</td>
         <td>{{dato.numero_producto}}</td>
         <td>{{dato.valor_original_capital}}</td>
         <td>-</td>
         <td>-</td>
         <td>{{dato.tasa_anual}}</td>
       </tr>
    </table>
    
    <div style="width: 70%; height: 190px; margin-left: 15%; margin-top: 5%; margin-bottom: 13%">
      <div >
        <button class="boton2" (click)="mostrarOcultar('obligaciones','inicio')"><b>Regresar</b></button>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
<!--Fin obligaciones-->
<!--Inicio terminos y condiciones -->
<div id="terminosCondiciones" style="display: none;">
  <div class="mx-auto" style="width: 80%;">
    <div class="card" style="margin-top: 5%">
      <div class="card-header">
       <h2 style="color: #fff; text-align: center;"><b>Terminos y condiciones</b></h2>
      </div>
      <div class="card-body">
        <div style="width: 70%; margin-left: 15%;">
        <br>
        <h2> * Recuerda que la aplicación del alivio está sujeta a estudio por parte de Financiera Juriscoop.</h2>
        <br>
        <h2> * El monto mensual a cancelar dentro de esta liquidación es un valor aproximado, el valor final será informado por correo electrónico, a tus datos de contacto registrados.</h2>
        <br>
        <h2> * Recuerda que este alivio generara unificación de sus productos y no generara marcación ante centrales de riesgo.</h2>
        <br>			  		
        </div>
        <h2 style="text-align: center; margin-top: 5%; font-size: 17px"><b>Si tienes inquietudes puedes comunicarte a la linea 018000111464</b></h2>
      <div style="width: 80%; height: 100px; margin-top: 10%; margin-bottom: 12%;">
        <div style=" width: 40%; float: left; height: 100px;">
          <button class="boton3" ><b>ACEPTAR</b></button>
        </div>
        <div style=" width: 40%; height: 100px; float: right;">
          <button class="boton3" (click)="mostrarOcultar('terminosCondiciones','inicio')"><b>REGRESAR</b></button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>		
<!--Fin terminos y condiciones -->
<!--Inicio motivoNopago -->
<div id="motivoNopago" style="display: none;">
  <div class="mx-auto" style="width: 80%;">
    <div class="card">
      <div class="card-header">
       <h2 style="color: #fff; text-align: center;"><i class="fas fa-list-ol"></i><b> Motivo de no aceptación</b></h2>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
        <li class="list-group-item"(click)="motivNoAcept(1)">Calamidad domestica <i class="fas fa-paper-plane" style="float: right; color: rgba(0, 82, 148, 1) !important; "></i></li>
        <li class="list-group-item"(click)="motivNoAcept(2)">Disminución de ingresos<i class="fas fa-paper-plane" style="float: right; color: rgba(0, 82, 148, 1) !important; "></i></li>
        <li class="list-group-item"(click)="motivNoAcept(3)">No tiene factura<i class="fas fa-paper-plane" style="float: right; color: rgba(0, 82, 148, 1) !important; "></i></li>
        <li class="list-group-item"(click)="motivNoAcept(4)">No realizó ningun pedido<i class="fas fa-paper-plane" style="float: right; color: rgba(0, 82, 148, 1) !important; "></i></li>
        <li class="list-group-item"(click)="motivNoAcept(5)">Otra<i class="fas fa-paper-plane" style="float: right; color: rgba(0, 82, 148, 1) !important; "></i></li>
      </ul>
        <div >
          <button class="boton2" (click)="mostrarOcultar('motivoNopago','inicio')"><b>Regresar</b></button>
        </div>
      </div>
    </div>
  </div>
</div>		
<!--Fin motivoNopago-->

  	<!--Inicio modal para Comprobante de pago-->
    <div id="comPago" class="modalContainer">
      <div class="modal-content">
        <div class="dropZoneContainer">
          <input type="file" id="drop_zone" class="FileUpload" accept=".jpg,.png,.gif" (change)="cargandoImagen($event.target.files) " />
          <div class="dropZoneOverlay"><i class="fas fa-file-upload"></i> <h2>Seleccionar archivo</h2><br> Agregar aquí el comprobante de su pago <br /></div>
        </div>
        <button class="boton4" style="margin-top: 3%;" [hidden]="flagBtnEnvFot == false " >enviar</button>
      <br>
      </div>
    </div>
    <!--Fin modal para Comprobante de pago -->

<footer class="page-footer"> 
   <!--<div class="btnYapague">
    <div style="font-size: 5px;">
    <input type="file" id="drop_zone" class="btnDocu"   accept=".jpg,.png,.gif" (change)="cargandoImagen($event.target.files)" /><i class="fas fa-thumbs-up" id="iconoLike"></i>
    </div>
    <p>Ya pagué</p>
    </div>--> 
  <div style="width: 15%; height: 120px; float: left; margin-left: 20%; margin-top: 1%; text-align: center; font-size: 30px">
    <button class="btnBotonera" id="btnModal"><i class="fas fa-thumbs-up" style="width: 100%"></i></button>
    <p>Ya pagué</p>
  </div>
	<div class="btnPagos">
		<button class="btnBotonera" (click)="pago()"><i class="fas fa-dollar-sign" style="width: 100%" ></i></button>
		<p>Pagos</p>
	</div>
	<div class="btnContacto">
		<button class="btnBotonera"><i class="fas fa-comment-dots" style="width: 100%; margin-left: 7px" (click)="contacto()"></i></button>
		<p>Contáctanos</p>
	</div>
</footer>